USE [SayaxEnergyBillingDB]
GO
/****** Object:  Table [dbo].[Customers]    Script Date: 29.07.2025 04:10:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Customers](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](100) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DistributionTariffs]    Script Date: 29.07.2025 04:10:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DistributionTariffs](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[AboneGroup] [nvarchar](50) NULL,
	[Price] [decimal](10, 2) NULL,
	[StaticPricesId] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[EnergyTariffs]    Script Date: 29.07.2025 04:10:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EnergyTariffs](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[AboneGroup] [nvarchar](50) NULL,
	[Price] [decimal](10, 2) NULL,
	[StaticPricesId] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HourlyConsumptions]    Script Date: 29.07.2025 04:10:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HourlyConsumptions](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[MeterId] [nvarchar](50) NOT NULL,
	[Date] [date] NOT NULL,
	[Hour] [int] NOT NULL,
	[ConsumptionMWh] [decimal](10, 4) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Meters]    Script Date: 29.07.2025 04:10:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Meters](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[ConsumptionType] [nvarchar](50) NOT NULL,
	[CustomerId] [int] NOT NULL,
	[SalesMethod] [nvarchar](100) NOT NULL,
	[AboneGroup] [nvarchar](100) NOT NULL,
	[TariffName] [nvarchar](100) NOT NULL,
	[BtvRate] [decimal](5, 4) NOT NULL,
	[KdvRate] [decimal](5, 4) NOT NULL,
	[Municipality] [nvarchar](100) NOT NULL,
	[CommissionType] [nvarchar](50) NOT NULL,
	[CommissionValue] [decimal](10, 4) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PtfPrices]    Script Date: 29.07.2025 04:10:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PtfPrices](
	[DateTime] [datetime] NOT NULL,
	[PricePerMWh] [decimal](10, 2) NULL,
PRIMARY KEY CLUSTERED 
(
	[DateTime] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[StaticPrices]    Script Date: 29.07.2025 04:10:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[StaticPrices](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[YekPrice] [decimal](10, 2) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Customers] ON 

INSERT [dbo].[Customers] ([Id], [Name]) VALUES (1, N'Test Müşterisi')
INSERT [dbo].[Customers] ([Id], [Name]) VALUES (2, N'Merve Yıldırım')
SET IDENTITY_INSERT [dbo].[Customers] OFF
GO
SET IDENTITY_INSERT [dbo].[DistributionTariffs] ON 

INSERT [dbo].[DistributionTariffs] ([Id], [AboneGroup], [Price], [StaticPricesId]) VALUES (3, N'Ticarethane', CAST(600.00 AS Decimal(10, 2)), 1)
INSERT [dbo].[DistributionTariffs] ([Id], [AboneGroup], [Price], [StaticPricesId]) VALUES (4, N'Sanayi', CAST(500.00 AS Decimal(10, 2)), 1)
SET IDENTITY_INSERT [dbo].[DistributionTariffs] OFF
GO
SET IDENTITY_INSERT [dbo].[EnergyTariffs] ON 

INSERT [dbo].[EnergyTariffs] ([Id], [AboneGroup], [Price], [StaticPricesId]) VALUES (3, N'Ticarethane', CAST(3000.00 AS Decimal(10, 2)), 1)
INSERT [dbo].[EnergyTariffs] ([Id], [AboneGroup], [Price], [StaticPricesId]) VALUES (4, N'Sanayi', CAST(2800.00 AS Decimal(10, 2)), 1)
SET IDENTITY_INSERT [dbo].[EnergyTariffs] OFF
GO
SET IDENTITY_INSERT [dbo].[HourlyConsumptions] ON 

INSERT [dbo].[HourlyConsumptions] ([Id], [MeterId], [Date], [Hour], [ConsumptionMWh]) VALUES (1, N'S1', CAST(N'2024-07-01' AS Date), 1, CAST(0.0380 AS Decimal(10, 4)))
INSERT [dbo].[HourlyConsumptions] ([Id], [MeterId], [Date], [Hour], [ConsumptionMWh]) VALUES (2, N'S1', CAST(N'2024-07-01' AS Date), 2, CAST(0.0740 AS Decimal(10, 4)))
INSERT [dbo].[HourlyConsumptions] ([Id], [MeterId], [Date], [Hour], [ConsumptionMWh]) VALUES (3, N'S1', CAST(N'2024-07-01' AS Date), 3, CAST(0.0740 AS Decimal(10, 4)))
GO
SET IDENTITY_INSERT [dbo].[HourlyConsumptions] OFF
GO
SET IDENTITY_INSERT [dbo].[Meters] ON 

INSERT [dbo].[Meters] ([Id], [ConsumptionType], [CustomerId], [SalesMethod], [AboneGroup], [TariffName], [BtvRate], [KdvRate], [Municipality], [CommissionType], [CommissionValue]) VALUES (1, N'S1', 1, N'(PTF+YEK)', N'Sanayi', N'Sanayi', CAST(0.0100 AS Decimal(5, 4)), CAST(0.1000 AS Decimal(5, 4)), N'Kadıköy', N'Percentage', CAST(0.0500 AS Decimal(10, 4)))
INSERT [dbo].[Meters] ([Id], [ConsumptionType], [CustomerId], [SalesMethod], [AboneGroup], [TariffName], [BtvRate], [KdvRate], [Municipality], [CommissionType], [CommissionValue]) VALUES (2, N'S2', 1, N'PTF + YEK + Komisyon', N'Ticarethane', N'Ticarethane', CAST(0.0500 AS Decimal(5, 4)), CAST(0.1000 AS Decimal(5, 4)), N'Kadıköy', N'Fixed', CAST(20.0000 AS Decimal(10, 4)))
INSERT [dbo].[Meters] ([Id], [ConsumptionType], [CustomerId], [SalesMethod], [AboneGroup], [TariffName], [BtvRate], [KdvRate], [Municipality], [CommissionType], [CommissionValue]) VALUES (3, N'S3', 1, N'Tarife - %İndirim', N'Sanayi', N'Sanayi', CAST(0.0100 AS Decimal(5, 4)), CAST(0.1000 AS Decimal(5, 4)), N'Maltepe', N'Percentage', CAST(-0.0300 AS Decimal(10, 4)))
SET IDENTITY_INSERT [dbo].[Meters] OFF
GO
INSERT [dbo].[PtfPrices] ([DateTime], [PricePerMWh]) VALUES (CAST(N'2025-05-01T00:00:00.000' AS DateTime), CAST(1499.00 AS Decimal(10, 2)))
INSERT [dbo].[PtfPrices] ([DateTime], [PricePerMWh]) VALUES (CAST(N'2025-05-01T01:00:00.000' AS DateTime), CAST(1575.00 AS Decimal(10, 2)))
INSERT [dbo].[PtfPrices] ([DateTime], [PricePerMWh]) VALUES (CAST(N'2025-05-01T02:00:00.000' AS DateTime), CAST(1399.99 AS Decimal(10, 2)))
GO
SET IDENTITY_INSERT [dbo].[StaticPrices] ON 

INSERT [dbo].[StaticPrices] ([Id], [YekPrice]) VALUES (1, CAST(0.80 AS Decimal(10, 2)))
SET IDENTITY_INSERT [dbo].[StaticPrices] OFF
GO
ALTER TABLE [dbo].[DistributionTariffs]  WITH CHECK ADD FOREIGN KEY([StaticPricesId])
REFERENCES [dbo].[StaticPrices] ([Id])
GO
ALTER TABLE [dbo].[EnergyTariffs]  WITH CHECK ADD FOREIGN KEY([StaticPricesId])
REFERENCES [dbo].[StaticPrices] ([Id])
GO
ALTER TABLE [dbo].[Meters]  WITH CHECK ADD  CONSTRAINT [FK_Meters_Customers] FOREIGN KEY([CustomerId])
REFERENCES [dbo].[Customers] ([Id])
GO
ALTER TABLE [dbo].[Meters] CHECK CONSTRAINT [FK_Meters_Customers]
GO
